apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: inter-ville-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: mysql-service
        - name: DB_PORT
          value: "3306"
        - name: DB_NAME
          value: cdpi_network
        - name: DB_USER
          value: cdpi_network_user
        - name: DB_PASSWORD
          value: cdpi_network_password
        - name: REDIS_URL
          value: redis://redis-service:6379
        - name: NODE_ENV
          value: development
        - name: FRONTEND_URL
          value: http://localhost:5173